#navbar_box {
    display: flex;
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    margin-inline-start: -44px;

}
#navbar_box::-webkit-scrollbar {
    display: none;
}

#navbar_box > li{
    list-style-type: none;
   margin-right: 10px;
}
#navbar_box > li >a{
    color: blueviolet;
}
#nav1{
    position: sticky;
    width: 100%;
    
}