#left{
    width: 20vw;
    height: 100%;
    /* background-color: red; */
}
#body{
    margin-top: 50px;
    height: auto;
}

#navbar_container{
    height: 8vh;
}

footer{
    
    width: 98vw;
    background-color: #e4e7e8;
    display: flex;
    justify-content: space-between;
    height:10vh;
    align-items: flex-end;
    align-content: flex-end;
    padding: 10px;
}

.footer_image{
    
    height: 6vh;
    border-radius: 100%;

}

.social-media-icons {
    padding: 5px;
    border-radius: 2px;
    background-color: #dfe3e4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between icons */
}

.social-icon img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%); /* Change icons to black */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2); /* Slightly enlarge the icon on hover */
    filter: none; /* Remove the grayscale filter on hover to highlight the icon */
}